@media screen and (min-width: 320px) and (max-width: 480px),
      screen and (min-width: 481px) and (max-width: 767px), 
      screen and (min-width: 768px) and (max-width: 1024px),
      screen and (min-width: 1025px) and (max-width: 1280px), 
      screen and (min-width: 1281px) and (max-width: 1400px) {
  * {
    max-width: 100%;
  }

  .navlinks {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black;
    z-index: 1;
    top: 70px;

    a {
      color: white;
    }

    .active {
      border-bottom: none;
    }

    &:hover{
      visibility: visible;
      opacity: 1;
    }
  }

  .navlinks, .cart, .search {
    opacity: 0;
  }

  .section1 {
    margin: 0;
    text-align: center;
    height: 150vh;

    h1 {
      font-size: 7vh;
    }

    .grid {
      display: flex;
      flex-direction: column;

      .product-img {
        width: 50vh;
        position: relative;
        top: 50px;
      }

      .review {
        position: relative;
        top: 50px;
      }
    }

    .size-buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin: 0 80px;
    }
  }

  .section2 {
    margin: 0;
    border-radius: 0;

    .products {
      display: flex;
      flex-direction: column;
      margin: 10vh 0;
      position: relative;
      bottom: 10vh;
      width: 90%;
      left: 3vh;
    }

    iframe {
      margin: 30px;
    }
  }

  .section3 {
    display: flex;
    justify-content: space-evenly;

    .form {
      margin: 5vh;
    }

    .parent-container {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}