@keyframes rotate {
  0%, 10% {
    transform: rotate(0);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}

@keyframes fade {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

  .section1 {
    margin: 10vh;
    position: relative;
    bottom: 10px;

    h1 {
      font-size: 70px;
    }

    .desc {
      margin-bottom: 30px;
      font-size: 18px;

      .highlight {
        color: rgb(143, 105, 56);
      }
    }

    .grid {
      overflow: visible;
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      .grid-1, .grid-2, .grid-3 {
        position: relative;
        top: 30px
      }

      .product-img {
        width: 100vh;
        height: auto;
        animation: rotate 5s forwards;
      }

      .review {
        text-align: center;
        position: relative;
        bottom: 90px;
        font-style: italic;
        animation: fade 5s forwards;

        .review-img {
          width: 50px;
          animation: fade 5s forwards;
        }
      }

      .grid-3 {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 150px;

        .sizes {
        color: rgb(143, 105, 56);
        }

        .more {
          position: relative;
          top: 80px;
          color: rgb(143, 105, 56);

          &:hover {
            cursor: pointer;
          }
        }
      }

      .small, .medium, .large, .xlarge {
        border-radius: 20px;
        border-style: none;
        background-color: black;
        color: white;
        width: 5vh;
        height: 5vh;
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);

        &:hover {
          background-color: rgb(143, 105, 56);
          cursor: pointer;
        }
      }

      #active {
        background-color: rgb(143, 105, 56);
      }
    }

    .price {
      width: 20vh;
      height: 5vh;
      border-radius: 50px;
      border-style: none;
      box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
      background-color: black;
      color: white;
      transition: .2s ease-in-out 0s;

      &:hover {
      transform: scale(1.10);
      cursor: pointer;
      box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
      }
    }

    .like {
      width: 30px;
      height: auto;
      position: relative;
      left: 30px;
      top: 10px;
      transition: .2s ease-in-out 0s;

      &:hover {
        transform: scale(1.10);
        cursor: pointer;
      }
    }
  }