  .section3 {
    background-color: black;
    color: white;

    .parent-container {
      display: flex;
      justify-content: flex-start;
    
      .right-form {
        width: 100vh;
  
        .section-title {
          font-size: 50px;
          text-align: center;
        }
  
        .form {
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;
          top: 80px;

          .name, .email, .message {     
            border-radius: 5px;
            width: 60vh;
            height: 5vh;
            border-style: none;

            &::placeholder {
              padding: 10px;
            }
          }

          .message {
            height: 20vh;
            resize: none;
          }

          .submit {
            border-radius: 20px;
            width: 15vh;
            height: 5vh;
            border-style: none;
            background-color: rgb(143, 105, 56);
            color: white;
            transition: .2s ease-in-out 0s;

            &:hover {
              transform: scale(1.10);
              cursor: pointer;
            }
          }
        }
      }
    }
  }
