@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;900&display=swap");
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 40px;
}

.logo {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 30px;
}

.navlinks {
  padding-right: 200px;
}

.navlinks a {
  text-decoration: none;
  font-size: 15px;
  color: black;
  padding: 20px;
}

.navlinks a:hover {
  color: #8f6938;
}

.active {
  border-bottom: #8f6938 2px solid;
  font-weight: bold;
}

.search {
  font-weight: 500;
  border-radius: 50px;
  width: 20vh;
  height: 5vh;
  border-style: none;
  -webkit-box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  -webkit-transition: .2s ease-in-out 0s;
  transition: .2s ease-in-out 0s;
  background-color: black;
  color: white;
  position: relative;
  left: 50px;
}

.search:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
  background-color: #e5e7e9;
  color: black;
  border: #8f6938 solid 2px;
}

.cart {
  width: 35px;
  height: 40px;
  -webkit-transition: .2s ease-in-out 0s;
  transition: .2s ease-in-out 0s;
}

.cart:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}

.menu {
  height: 30px;
  position: relative;
  top: 5px;
}

.menu:hover {
  cursor: pointer;
}

@-webkit-keyframes rotate {
  0%, 10% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0%, 10% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes fade {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.section1 {
  margin: 10vh;
  position: relative;
  bottom: 10px;
}

.section1 h1 {
  font-size: 70px;
}

.section1 .desc {
  margin-bottom: 30px;
  font-size: 18px;
}

.section1 .desc .highlight {
  color: #8f6938;
}

.section1 .grid {
  overflow: visible;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.section1 .grid .grid-1, .section1 .grid .grid-2, .section1 .grid .grid-3 {
  position: relative;
  top: 30px;
}

.section1 .grid .product-img {
  width: 100vh;
  height: auto;
  -webkit-animation: rotate 5s forwards;
          animation: rotate 5s forwards;
}

.section1 .grid .review {
  text-align: center;
  position: relative;
  bottom: 90px;
  font-style: italic;
  -webkit-animation: fade 5s forwards;
          animation: fade 5s forwards;
}

.section1 .grid .review .review-img {
  width: 50px;
  -webkit-animation: fade 5s forwards;
          animation: fade 5s forwards;
}

.section1 .grid .grid-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: 150px;
}

.section1 .grid .grid-3 .sizes {
  color: #8f6938;
}

.section1 .grid .grid-3 .more {
  position: relative;
  top: 80px;
  color: #8f6938;
}

.section1 .grid .grid-3 .more:hover {
  cursor: pointer;
}

.section1 .grid .small, .section1 .grid .medium, .section1 .grid .large, .section1 .grid .xlarge {
  border-radius: 20px;
  border-style: none;
  background-color: black;
  color: white;
  width: 5vh;
  height: 5vh;
  -webkit-box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

.section1 .grid .small:hover, .section1 .grid .medium:hover, .section1 .grid .large:hover, .section1 .grid .xlarge:hover {
  background-color: #8f6938;
  cursor: pointer;
}

.section1 .grid #active {
  background-color: #8f6938;
}

.section1 .price {
  width: 20vh;
  height: 5vh;
  border-radius: 50px;
  border-style: none;
  -webkit-box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  background-color: black;
  color: white;
  -webkit-transition: .2s ease-in-out 0s;
  transition: .2s ease-in-out 0s;
}

.section1 .price:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
  -webkit-box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
}

.section1 .like {
  width: 30px;
  height: auto;
  position: relative;
  left: 30px;
  top: 10px;
  -webkit-transition: .2s ease-in-out 0s;
  transition: .2s ease-in-out 0s;
}

.section1 .like:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.section2 {
  margin: 15vh;
  background-color: #242424;
  border-radius: 90px;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.section2 .section2-title {
  font-size: 50px;
  text-align: center;
  color: white;
}

.section2 .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.section2 .products .product1, .section2 .products .product2, .section2 .products .product3 {
  text-align: center;
  -webkit-transition: .2s ease-in-out 0s;
  transition: .2s ease-in-out 0s;
}

.section2 .products .product1 p, .section2 .products .product2 p, .section2 .products .product3 p {
  color: white;
}

.section2 .products .product1:hover, .section2 .products .product2:hover, .section2 .products .product3:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.section2 .products .product3 img {
  position: relative;
  top: 80px;
  width: 35vh;
}

.section2 .products .shoeName3 {
  position: relative;
  top: 100px;
}

.section2 .products .shoe1, .section2 .products .shoe2 {
  width: 40vh;
}

.section2 .products .shoeName {
  position: relative;
  bottom: 50px;
}

.section2 .vid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section2 .vid iframe {
  width: 120vh;
  height: 60vh;
  border-radius: 50px;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #e5e7e9;
}
/*# sourceMappingURL=styles.css.map */