@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;900&display=swap");
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 30px;
  z-index: 5;
}

.logo {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 30px;
}

.navlinks {
  padding-right: 200px;
}

.navlinks a {
  text-decoration: none;
  font-size: 15px;
  color: black;
  padding: 20px;
}

.navlinks a:hover {
  color: #8f6938;
}

.active {
  border-bottom: #8f6938 2px solid;
  font-weight: bold;
}

.search {
  font-weight: 500;
  width: 20vh;
  height: 5vh;
  border-style: none;
  -webkit-box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  -webkit-transition: .2s ease-in-out 0s;
  transition: .2s ease-in-out 0s;
  background-color: black;
  color: white;
  left: 50px;
  position: relative;
}

.search:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
  background-color: #e5e7e9;
  color: black;
  border: #8f6938 solid 2px;
}

.cart {
  width: 35px;
  height: 40px;
  -webkit-transition: .2s ease-in-out 0s;
  transition: .2s ease-in-out 0s;
}

.cart:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}

.menu {
  height: 30px;
  width: 30px;
  position: relative;
  top: 5px;
}

.menu:hover {
  cursor: pointer;
}

@-webkit-keyframes rotate {
  0%, 10% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0%, 10% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes fade {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0%, 50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.section1 {
  margin: 10vh;
  position: relative;
  bottom: 10px;
}

.section1 h1 {
  font-size: 70px;
}

.section1 .desc {
  margin-bottom: 30px;
  font-size: 18px;
}

.section1 .desc .highlight {
  color: #8f6938;
}

.section1 .grid {
  overflow: visible;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.section1 .grid .grid-1, .section1 .grid .grid-2, .section1 .grid .grid-3 {
  position: relative;
  top: 30px;
}

.section1 .grid .product-img {
  width: 800px;
  -webkit-animation: rotate 5s forwards;
          animation: rotate 5s forwards;
}

.section1 .grid .review {
  text-align: center;
  position: relative;
  bottom: 90px;
  font-style: italic;
  -webkit-animation: fade 5s forwards;
          animation: fade 5s forwards;
}

.section1 .grid .review .review-img {
  width: 50px;
  -webkit-animation: fade 5s forwards;
          animation: fade 5s forwards;
}

.section1 .grid .grid-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: 150px;
}

.section1 .grid .grid-3 .sizes {
  color: #8f6938;
}

.section1 .grid .grid-3 .more {
  position: relative;
  top: 80px;
  color: #8f6938;
}

.section1 .grid .grid-3 .more:hover {
  cursor: pointer;
}

.section1 .grid .small, .section1 .grid .medium, .section1 .grid .large, .section1 .grid .xlarge {
  border-radius: 20px;
  border-style: none;
  background-color: black;
  color: white;
  width: 40px;
  height: 40px;
  -webkit-box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  margin: 5px 0px;
}

.section1 .grid .small:hover, .section1 .grid .medium:hover, .section1 .grid .large:hover, .section1 .grid .xlarge:hover {
  background-color: #8f6938;
  cursor: pointer;
}

.section1 .grid #active {
  background-color: #8f6938;
}

.section1 .add-to-cart {
  width: 150px;
  height: 50px;
  border-style: none;
  -webkit-box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  background-color: black;
  color: white;
  -webkit-transition: .2s ease-in-out 0s;
  transition: .2s ease-in-out 0s;
}

.section1 .add-to-cart:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
  -webkit-box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
}

.section1 .like {
  width: 30px;
  position: relative;
  left: 30px;
  top: 10px;
  -webkit-transition: .2s ease-in-out 0s;
  transition: .2s ease-in-out 0s;
}

.section1 .like:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.section2 {
  margin: 15vh;
  background-color: black;
  border-radius: 90px;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.section2 .section-title {
  font-size: 50px;
  text-align: center;
  color: white;
}

.section2 .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.section2 .products .product1, .section2 .products .product2, .section2 .products .product3 {
  text-align: center;
  -webkit-transition: .2s ease-in-out 0s;
  transition: .2s ease-in-out 0s;
}

.section2 .products .product1 p, .section2 .products .product2 p, .section2 .products .product3 p {
  color: white;
}

.section2 .products .product1:hover, .section2 .products .product2:hover, .section2 .products .product3:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.section2 .products .product3 img {
  position: relative;
  top: 80px;
  width: 35vh;
}

.section2 .products .shoeName3 {
  position: relative;
  top: 100px;
}

.section2 .products .shoe1, .section2 .products .shoe2 {
  width: 40vh;
}

.section2 .products .shoeName {
  position: relative;
  bottom: 50px;
}

.section2 .vid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section2 .vid iframe {
  width: 120vh;
  height: 60vh;
  border-radius: 50px;
}

.section3 {
  background-color: black;
  color: white;
}

.section3 .parent-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.section3 .parent-container .right-form {
  width: 100vh;
}

.section3 .parent-container .right-form .section-title {
  font-size: 50px;
  text-align: center;
}

.section3 .parent-container .right-form .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 0px;
}

.section3 .parent-container .right-form .form .name, .section3 .parent-container .right-form .form .email, .section3 .parent-container .right-form .form .message {
  border-radius: 5px;
  width: 60vh;
  height: 5vh;
  border-style: none;
}

.section3 .parent-container .right-form .form .name::-webkit-input-placeholder, .section3 .parent-container .right-form .form .email::-webkit-input-placeholder, .section3 .parent-container .right-form .form .message::-webkit-input-placeholder {
  padding: 10px;
}

.section3 .parent-container .right-form .form .name:-ms-input-placeholder, .section3 .parent-container .right-form .form .email:-ms-input-placeholder, .section3 .parent-container .right-form .form .message:-ms-input-placeholder {
  padding: 10px;
}

.section3 .parent-container .right-form .form .name::-ms-input-placeholder, .section3 .parent-container .right-form .form .email::-ms-input-placeholder, .section3 .parent-container .right-form .form .message::-ms-input-placeholder {
  padding: 10px;
}

.section3 .parent-container .right-form .form .name::placeholder, .section3 .parent-container .right-form .form .email::placeholder, .section3 .parent-container .right-form .form .message::placeholder {
  padding: 10px;
}

.section3 .parent-container .right-form .form .message {
  height: 150px;
  resize: none;
}

.section3 .parent-container .right-form .form .submit {
  border-radius: 20px;
  width: 15vh;
  height: 50px;
  border-style: none;
  background-color: #8f6938;
  color: white;
  -webkit-transition: .2s ease-in-out 0s;
  transition: .2s ease-in-out 0s;
}

.section3 .parent-container .right-form .form .submit:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

footer {
  height: auto;
  width: 100%;
  padding-top: 40px;
  color: black;
}

footer .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

footer .content h3 {
  line-height: 3rem;
  font-weight: 900;
  font-size: 20px;
  border-radius: 100px;
}

footer .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

footer .socials li {
  margin: 0 10px;
}

footer .socials li a {
  color: black;
  border: 1.5px solid black;
  padding: 10px;
  border-radius: 50%;
}

footer .socials li a i {
  width: 20px;
}

footer .socials li a:hover {
  color: white;
  background-color: black;
}

@media screen and (min-width: 320px) and (max-width: 480px), screen and (min-width: 481px) and (max-width: 767px), screen and (min-width: 768px) and (max-width: 1024px), screen and (min-width: 1025px) and (max-width: 1280px), screen and (min-width: 1281px) and (max-width: 1400px) {
  * {
    max-width: 100%;
  }
  .navlinks {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    background-color: black;
    z-index: 1;
    top: 70px;
  }
  .navlinks a {
    color: white;
  }
  .navlinks .active {
    border-bottom: none;
  }
  .navlinks:hover {
    visibility: visible;
    opacity: 1;
  }
  .navlinks, .cart, .search {
    opacity: 0;
  }
  .section1 {
    margin: 0;
    text-align: center;
    height: 160vh;
  }
  .section1 h1 {
    font-size: 7vh;
  }
  .section1 .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section1 .grid .product-img {
    width: 50vh;
    position: relative;
    top: 50px;
  }
  .section1 .grid .review {
    position: relative;
    top: 50px;
  }
  .section1 .size-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 0 80px;
  }
  .section2 {
    margin: 0;
    border-radius: 0;
  }
  .section2 .products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 10vh 0;
    position: relative;
    bottom: 10vh;
    width: 90%;
    left: 3vh;
  }
  .section2 iframe {
    margin: 30px;
  }
  .section3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .section3 .form {
    margin: 5vh;
  }
  .section3 .parent-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #e5e7e9;
}
/*# sourceMappingURL=styles.css.map */